*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    
}

#heading{
    color: red;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.abc{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grandparentc{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: orange;
    
}

#h2sibling{
    font-style: italic;
}

#childid2{
    background-color: greenyellow;
    font-family: Optimistic Text, -apple-system, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}


.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    /* background-color: gainsboro; */
}

.logo{
    width: 100px;
}

.nav-items{
    font-size: 24px;
    padding: 0px 80px;
    box-shadow: #85FFBD;
}



.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
}

.res-card{
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    background-image: linear-gradient(red, yellow);
    background-image: linear-gradient(rgb(67, 190, 239), orange);
    /* background-image: linear-gradient(greenyellow,orange); */
    
    background: rgb(2,0,36);
    border-radius: 8px;
    
}
.res-card:hover{
    /* border: 1px solid green; */
    cursor: pointer;
    background: linear-gradient(90deg, rgb(239, 157, 85) 0%, rgb(237, 237, 244) 35%, rgb(70, 205, 233) 100%);
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);


}

.all-buttons{
  display: flex;
  margin-left: 380px;
}

.search{
    padding: 0px;
}

.search-container{
    padding: 16px;
}

.searchbtn,.searchbtninput{
    border-radius: 5px;
}
.searchbtn,.searchbtninput:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.res-logo{
    width: 100%;
    border-radius: 8px;
}
.res-logo:hover{
    transform: scaleX(-1)

}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: block;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 0px 0;
  gap: 10px;
}

.search-container input {
  min-width: 250px;
  padding: 10px;
}

.search-container input:focus {
  outline: 0;
}

.search-container button {
  padding: 10px 15px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 0 20px;
}

.res-card {
  width: 200px;
  /* height: 300px; */
  padding: 5px;
  /* padding-bottom: 20px; */
  border: 1px solid transparent;
}

.res-card:hover {
  border: 1px solid black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.footer {
  padding: 20px 10px;
  /* border: 1px solid black; */
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}


.app{
    background-image: url("./image-5.png");
}


.filter-btn{
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 19px;
}
.filter-btn2 {
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  margin-top: 19px;
  padding: 10px;
  margin-left: 12px;
}

.filter-btn3{
  padding: 10px;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 19px;
  margin-left: 12px;
  padding: 10x;
}

.filter-btn4{
  padding: 10px;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 19px;
  margin-left: 12px;
  padding: 10x;
}